.ss-header {
    display: flex;
    width: 100%;
    border-top: 1px solid #bbb;
}

.ss-header > div:first-child {
    width: 50px !important;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.ss-header-column {
    display: flex;
    width: 100%;
}

.ss-header-column-day {
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.ss-header-column-day:last-child {
    border-right: 1px solid #bbb;
}

.ss-container {
    position: relative;
    display: flex;
    width: 100%;
    overflow: scroll;
}

.ss-aside {
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
}

.ss-aside-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 40px;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.ss-grid {
    display: flex;
    width: 100%;
}

.ss-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid #bbb;
}

.ss-column:first-child {
    border-left: 1px solid #bbb;
}

.ss-block {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    border-bottom: 1px solid #bbb;
}

.ss-block-minutes {
    height: 100%;
}

.ss-block-minutes:nth-child(2) {
    border-bottom: 1px solid #eee;
}

.ss-block:hover {
    background-color: rgba(200,200,200,.2);
}

.ss-events-container {
}

.ss-event {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    cursor: pointer;
}
